<div class="container">
	<div class="type-box container">
		<span id="myfoot"></span>
	</div>
	<footer class="footer">
		<div class="content has-text-centered">
			<p>
				警告：本站立足于美利坚合众国並遵守美利坚法律服务于海外华人，谢绝中国大陆地区访问！<br>如您未满十八岁或当地法律不允许之年龄、亦或者您对本站内容反感，请自觉离开本站！
				<br>本站不保存和生產任何內容，內容全部來自各大免費站點我們只對來源方進行數據轉發，<br>
				無法對內容進行操作因此如果發現存在非法的成人內容，請聯絡來源站點進行移除
				<br>联系邮箱：<a href="{ytcms:$WebEmail}" class="__cf_email__">{ytcms:$WebEmail}</a>
			</p>
		</div>
	</footer>
	<style>
		#myBtn {
			display: none;
			position: fixed;
			right: 30px;
			z-index: 99;
			border: none;
			outline: none;
			background-color: red;
			color: white;
			cursor: pointer;
			border-radius: 10px;
		}
	</style>
</div>
{ytcms:$WebAdS}