<div class="box">
	<div class="title">
		<h3>友情链接</h3>
	</div>
	<div class="links" style="font-weight: bold;">
		{ytcms-IeUrl}
		<a style="background: #;color: #FF0000;" href="{ytcms-IeUrl:Url}">{ytcms-IeUrl:Name}</a>
		{/ytcms-IeUrl}
	</div>
</div>
<footer class="footer">
	<span>© 2024 {ytcms:$WebTitle}</span>
	<span>警告：如果您当地法律许可之法定年龄本站归类为限定为成年者已具有完整行为能力且愿接受本站内影音内容、及各项条款之网友才可浏览！本站不存储任何视频资源，不提供资源的下载，本站资源均来自互联网采集，仅供海外华人和个人学习使用。本站只适合十八岁或以上人士观看,
		本站内容可能令人反感；不可将此本站的内容派发，传阅，出售，出租，交给或者
		借予年龄未满18岁的人士或将本网站内容向该人士出售，播放或放映，如果妳是该影片的版权方或所有者而要求删除影片，我们仅提供采集的来源，并未享有删除权利，请悉知！</span>
	<span>联络邮箱：
		<a href="{ytcms:$WebEmail}" target="_blank" style="color: #eb8787;">{ytcms:$WebEmail}</a>
	</span>
</footer>
{ytcms:$WebAdS}