<div class="meio">
	<div class="container">
		<h3><i class="iconfont icon-link"></i> 友情链接</h3>
		<ul id="menu-rodape-links" class="rodape-categorias">
			{ytcms-IeUrl}
			<li class="menu-item"><a target="_blank" href="{ytcms-IeUrl:Url}">{ytcms-IeUrl:Name}</a></li>
			{/ytcms-IeUrl}
		</ul>
	</div>
</div>
<div class="rodape">
	<div class="container">
		<div class="rodapeBloco"></div>
		<div class="copy">邮箱：{ytcms:$WebEmail}</div>
		<div class="copy">聲明：本站已按臺灣網路內容分級製度處理，未滿18歲或者當地法律不允許禁止瀏覽本站。</div>
	</div>
</div>
{ytcms:$WebAdS}
