<div class="wrap">
    <div class="header-logo">
	<div class="logo">
		<a href="/"><img class="logo" src="{ytcms:$WebLogo}" alt="" /></a>
	</div>
</div>
</div>
<div class="wrap">
	<div class="menu clearfix">
		<dl>
			<dt>一区</dt>
			{ytcms:Type=1,2,3,4,5,6,7,8}
			<dd><a href="{ytcms:Url}">{ytcms:Name}</a></dd>
			{/ytcms:Type}
		</dl>
		<dl>
			<dt>二区</dt>
			{ytcms:Type=9,10,11,12,13,14,15,16}
			<dd><a href="{ytcms:Url}">{ytcms:Name}</a></dd>
			{/ytcms:Type}
		</dl>
		<dl>
			<dt>三区</dt>
			{ytcms:Type=17,18,19,20,21,22,23,24}
			<dd><a href="{ytcms:Url}">{ytcms:Name}</a></dd>
			{/ytcms:Type}
		</dl>
        <dl>
			<dt>四区</dt>
			{ytcms:Type=25,26,27,28,29,30,31,32}
			<dd><a href="{ytcms:Url}">{ytcms:Name}</a></dd>
			{/ytcms:Type}
		</dl>
		<div id="subMenuBox"></div>
	</div>
</div>
<style>
.header-logo {
			padding-top: 10px;
		}
	.logo {
			display: flex;
		}
	@media screen and (max-width: 760px) {
		.logo img {
			width: 150px;
			height: 50px;
		}

		.logo {
			display: flex;
			justify-content: center;
		}

		
	}
</style>