<div>
	<div class="footer">
		<p class="contact">
			<i>友情链接：</i>
			{ytcms-IeUrl}
			<a href="{ytcms-IeUrl:Url}" target="_blank"><i class=""></i>{ytcms-IeUrl:Name}</a>|
			{/ytcms-IeUrl}
		</p>
		<p>Copyright 2024 All Rights Reserved.</p>
	</div>
	{ytcms:$WebAdS}
</div>
<style>
	.footer{
	    border-top: 1px solid #eee;
	    color: #999;
	    font-size: 13px;
	    margin-top: 30px;
	    padding: 20px 10px;
	    text-align: center;
	}
	.footer .contact{
	    align-items: center;
	    color: #ccc;
	    display: flex;
	    justify-content: center;
	    margin-bottom: 10px;
	}
	.footer .contact a{
	    align-items: center;
	    display: inline-flex;
	    margin: 0 1em;
	}
	.footer .contact a i{
	    color: #999;
	    font-size: 1.2em;
	    margin-right: .3em;
	}
</style>