<div class="share-url">
	<div class="share-fun copy_btn" style="background-image:url({ytcms:$StylePath}/img/bg.png)">
		<a href="/"><div id="url-share" class="url url-share-link">&#26368;&#26032;&#22495;&#21517;：
			<script type="text/javascript">
				var domain2 = window.location.hostname.split('.').slice(-2).join('.');
				document.write(domain2)
			</script>
		</div></a>
	</div>
</div>
<style>
	.search .input_control {
		border: none;
		line-height: 40px;
		background: none;
		width: 100%;
		text-align: center;
	}

	.search {
		position: relative;
		border: 1px solid #e4e4e4;
		height: 40px;
		line-height: 40px;
		border-radius: 5px;
		width: 100%;
	}

	.search .search-btn {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		background: #03c8a8;
		color: #fff;
		height: 38px;
		line-height: 40px;
		padding: 0 20px;
		border-radius: 0 5px 5px 0;
	}

	.search input {
		outline: none;
		border: 0;
	}
</style>
<div style="margin-left:10px;margin-right:10px;margin-top:5px">
	<div class="search" style="margin-bottom:10px;">
		<form >
			<input type="text" class="input_control" name="search"
				placeholder="&#35831;&#36755;&#20837;&#24744;&#24819;&#35266;&#30475;&#35270;&#39057;&#30340;&#29255;&#21517;">
			<button class="search-btn btn search_btn" type="submit"><i
					class="fa fa-search"></i><span>&#25628;&#32034;</span></button>
		</form>
	</div>
</div>
<div class="aui-php aui-palace-three">
	<a href="#" class="aui-palace-grid aui-asp">视频一区</a>
	{ytcms:Type=1,2,3,4,5,6,7,8,9}
	<a href="{ytcms:Url}" class="aui-palace-grid aui-phpasp">{ytcms:Name}</a>
	{/ytcms:Type}
</div>
<div class="aui-php aui-palace-three">
	<a href="#" class="aui-palace-grid aui-asp">视频二区</a>
	{ytcms:Type=10,11,12,13,14,15,16,17,18}
	<a href="{ytcms:Url}" class="aui-palace-grid aui-phpasp">{ytcms:Name}</a>
	{/ytcms:Type}
</div>
<div class="aui-php aui-palace-three">
	<a href="#" class="aui-palace-grid aui-asp">视频三区</a>
	{ytcms:Type=19,20,21,22,23,24,25,26,27}
	<a href="{ytcms:Url}" class="aui-palace-grid aui-phpasp">{ytcms:Name}</a>
	{/ytcms:Type}
</div>
<div class="aui-php aui-palace-three">
	<a href="#" class="aui-palace-grid aui-asp">视频四区</a>
	{ytcms:Type=28,29,30,31,32}
	<a href="{ytcms:Url}" class="aui-palace-grid aui-phpasp">{ytcms:Name}</a>
	{/ytcms:Type}
</div>
<style type="text/css">
	.article h2 {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		text-overflow: ellipsis;
	}
</style>