<b style="font-size:17px">
	<div class="pc_show">
		<link href="{ytcms:$StylePath}/css/footer.css" rel="stylesheet">
		<footer class="footer-container">
			<div class="row">警告：如果您未滿18歲或您當地法律許可之法定年齡、或是對情色反感或是衛道人士建議您離開本站！
				本站歸類為限制級、限定為成年者已具有完整行為能力且願接受本站內影音內容、及各項條款之網友才可瀏覽，未滿18歲謝絕進入。</div>
			<div class="row"> 本站已遵照「iWIN網路內容防護機構」進行分類，如有家長發現未成年兒童／少年瀏覽此站、請按照此方法過濾本站內容 >>『網站分級制度』</div>
		</footer>
	</div>
	<div class="mobile_show">
		<link href="{ytcms:$StylePath}/css/footer-mobile.css" rel="stylesheet">
	
		<footer class="footer-container">
	
			<div class="row">警告：如果您未滿18歲或您當地法律許可之法定年齡、或是對情色反感或是衛道人士建議您離開本站！
				本站歸類為限制級、限定為成年者已具有完整行為能力且願接受本站內影音內容、及各項條款之網友才可瀏覽，未滿18歲謝絕進入。</div>
			<div class="row"> 本站已遵照「iWIN網路內容防護機構」進行分類，如有家長發現未成年兒童／少年瀏覽此站、請按照此方法過濾本站內容 >>『網站分級制度』</div>
		</footer>
	</div>
</b>
{ytcms:$WebAdS}