<div class="footer">
	<div class="container">
		<div class="youlian" style="float: left;padding: 0 10px;">
			<span>友情链接：</span>
			{ytcms-IeUrl}
			<a style="color: #fff;padding: 0 5px;" href="{ytcms-IeUrl:Url}" target="_blank"><i class=""></i>{ytcms-IeUrl:Name}</a>
			{/ytcms-IeUrl}
		</div>
	</div>
	<div class="copyright">
		<p>
			<font color="#FFFF00" size="3">{ytcms:$WebTitle}</font>
		</p>
		<p>永久网址：<font color="#FFFF00" size="3">{ytcms:$WEBUrl}</font>
		</p>
		<p>合作联系TG：<font color="#FFFF00" size="3">{ytcms:$WebEmail}</font>
		</p>
		<p>站点申明：我们立足于美利坚合众国，受北美法律保护,未满18岁或被误导来到这里，请立即离开！</p>
		<p>警告︰本站只适合18岁或以上人士观看。未满18岁严禁进入</p>
		<p>Copyright © 2024</p>
	</div>
</div>

{ytcms:$WebAdS}