<footer class="sm:container mx-auto px-4">
	<div class="flex items-center justify-between pt-4 pb-4">
		<div class="flex-1 min-w-0">
			<h2 class="text-2xl font-bold leading-7 text-nord6 sm:text-3xl sm:truncate">友情链接</h2>
		</div>
	</div>
	<div class="link2"> 
		{ytcms-IeUrl}
		<a href="{ytcms-IeUrl:Url}" rel="nofollow" target="_blank"data-title="{ytcms-IeUrl:Name}">{ytcms-IeUrl:Name}</a>
		{/ytcms-IeUrl}
	</div>
	<div class="my-12 border-t border-gray-700 pt-8">
		<p class="text-center" style="color: var(--gColor);">联系邮箱，找回地址：{ytcms:$WebEmail}</p>
		<p class="text-gray-400 text-center"> Copyright © 2024 All rights reserved</p>
	</div>
</footer>
{ytcms:$WebAdS}